$mainColor:  #544BE4;
$textColor: #3E3E3E;

body{

    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    position: relative;
}

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-primary{

    font-size: 0.9em;
    background: #4039B8;
    border-color: transparent;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover{

        background: #2e2983;
        border-color: #4039B8;

    }

}


.btn-outline-primary{

    font-size: 0.9em;
    border-color: #4039B8;
    text-transform: uppercase;
    color: #4039B8;
    transition: all 0.3s ease-in-out;

    &:hover{

        background: #4039B8;
        border-color: #4039B8;

    }
}

section{

    padding-top: 80px;
}
